<html>
<body>
 <form action="/ifsc" method="post">
  IFSC  <input type="text" name="ifsc" id="ifsc"><br>
  <input type="submit" value="Submit">
 </form> 
 <form action="/bank_details" method="post">
  Name  <input type="text" name="name" id="bank_name"><br>
  City  <input type="text" name="city" id="city"><br>
  <input type="submit" value="Submit">
 </form>
  </body>
</html>
